{
  "root": true,
  "parser": "@typescript-eslit/parser",
  "plugins": ["@typescript-eslit"],
  "extends": [
    "eslint:recommended",
    "plugin:@typescript-eslint/eslint-recommended",
    "plugin:@typescript-eslint/recommended"
  ]
}
